.c-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ef5350;
  padding-left: 20px;
  padding-right: 20px;
}

.c-navbar img {
  width: 130px;
}

.c-navbar input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #263238;
}

.c-navbar i {
  position: absolute;
  top: 23px;
  right: 30px;
  color: #263238;
}
