*{
 padding: 0; 
 margin: 0;
} 

  
body {
  background-color: #E4E5E3;
}

 .normal {
  background-color: #f8d5a3;
 }
 .rock {
    background-color: #f8d5a3;
  }
  .ghost {
    background-color: #f5b7b1;
  }
  .electric {
    background-color: #c39bd3;
  }
  .bug {
    background-color: #aed6f1;
  }
  .poison {
    background-color: #a3e4d7;
  }
  .normal {
    background-color: #f9e79f;
  }
  .fairy {
    background-color: #fadbd8;
  }
  .fire {
    background-color: #d2b4de;
  }
  .grass {
    background-color: #a9cce3;
  }
  .water {
    background-color: #a2d9ce;
  } 

  .flying {
    background-color: #a2d9ce;
  }
  
  .fighting {
    background-color: #f7dc6f;

  }
  .psychic {
    background-color: #f7dc6f;
  } 

  .dark {
    background-color: #f5cba7;
  }

  .ice {
    background-color: #bb8fce;
  }  

  .steel {
     background-color: #76d7c4;
  }

  .dragon {
    background-color: #f7dc6f;
  }

  .ground {
     background-color: #85c1e9;
  }